@import "tailwindcss";

@theme {
  --color-button-blue: #003366;
  --color-custom-blue900: #241623;
  --color-yellow-icon: #fff856;
  --color-yellow-light: #f2cb00;
  --color-light-gray: #f9f9f9;
  --color-border-one: #c5e0ff;
  --color-text-primary: #1e1e1e;
  --color-secondary-one: #1d1d1d;
}

.hero {
  background-image: url(/images/her.jfif);
  background-repeat: no-repeat;
  background-size: auto;
}
.about-hero {
  background-repeat: no-repeat;
  background-size: auto;

  background-image: url(/images/about.jfif);
}
.contact-hero {
  background-repeat: no-repeat;
  background-size: auto;

  background-image: url(/images/contact.jfif);
}
