@import "tailwindcss";

@theme {
  --color-button-blue: #003366;
  --color-custom-blue900: #241623;
  --color-yellow-icon: #fff856;
  --color-yellow-light: #f2cb00;
  --color-light-gray: #f9f9f9;
  --color-border-one: #c5e0ff;
  --color-text-primary: #1e1e1e;
  --color-secondary-one: #1d1d1d;
}
.hero {
  background-image: url(/images/her.jfif);
  background-repeat: no-repeat;
  background-size: auto;
}
.about-hero {
  background-repeat: no-repeat;
  background-size: auto;

  background-image: url(/images/about.jfif);
}
.contact-hero {
  background-repeat: no-repeat;
  background-size: auto;

  background-image: url(/images/contact.jfif);
}

@layer utilities {
  .heading-text {
    @apply text-[36px] leading-[40px] md:text-[36px] md:leading-[40px] text-center md:text-left;
  }

  .paragraph-text {
    @apply text-[16px] leading-[32px] md:text-[24px] md:leading-[48px] text-center md:text-left;
  }
}
